/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

/* ******************************** CSS START ************************************************************ */

/* MAIN */
body, html {
    box-sizing: border-box;
    font-family: 'Ruda', Courier, monospace;
    scroll-behavior: smooth;
    /* COLORS */
    --accent: #39ff14;
    --dark: #222222;
    --navajo: navajowhite;
}

#ulDesktop li a {
    position: relative; /* Required for positioning the pseudo-element */
    text-decoration: none; /* Remove the default underline */
    display: inline-block;
    transition: all ease-in-out 350ms;
}

#ulDesktop li a:after {
    display:block;
    content: '';
    border-bottom: 3px solid var(--accent);  
    border-radius: 15px;
    transform: scaleX(0);  
    transition: all ease-in-out 350ms;
    transform-origin:100% 50%
}

#ulDesktop li a:hover:after {
    transform: scaleX(1);
    transform-origin:50% 100%;
}

#ulDesktop li a:hover {
    color: var(--navajo);
}



/* ******************************** DESKTOP + TABLET ************************** */

@media screen and (orientation: landscape),
screen and (max-width: 64em) and (orientation: portrait) {
    #mobileMenu {
        display: none;
    }

    #mobileNav {
        display: none;
    }

    #desktopMenu {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        min-width: 100vw;
        z-index: 10;
        padding: 1rem;
        background-color: transparent;
        transition: all ease-in-out .4s;
    }

    #logo {
        width: 70px;
        height: 70px;
        transition: all ease-in-out .3s;

    }

    #ulDesktop {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 3rem;
        transition: all ease-in-out .3s;

    }

    #ulDesktop li {
        list-style: none;
        transition: all ease-in-out .3s;

    }

    #ulDesktop li a {
        color: whitesmoke;
        padding: 1rem;
        text-decoration: none;
    }

    /* desktopMenu reduced */

    #desktopMenu.reduced {
        height: 7vh;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.4s;
    }

    #desktopMenu.reduced ul {
        display: flex;
        list-style: none;
    }

    #desktopMenu.reduced ul li {
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: 1rem;
    }

    #desktopMenu.reduced ul li a {
        text-decoration: none;
        color: whitesmoke;
    }

    #desktopMenu.reduced a img {
        height: 50px;
        width: 50px;
        border: 2px solid var(--accent);
        border-radius: 5px;
    }
}


/* ******************************** PHONE ************************** */

@media screen and (max-width: 40em) and (orientation: portrait) {
    #desktopMenu {
        display: none;
    }

    #socialNav {
        display: none;
    }

    body, html {
        display: flex;
        flex-direction: column;
    }

    #mobileMenu {
        display: flex;
        position: fixed;
        z-index: 9;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: fit-content;
        transition: all ease-in-out .8s;
    }

    #mobileMenu.active {
        background-color: var(--dark);
    }

    #mobileLogo {
        position: relative;
        width: 40px;
        height: 40px;
        padding: .5rem;
        margin: 0;
        z-index: 11;
    }
    /* Hamburger div container */
    #divHam {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 40px;
        height: 40px;
        padding-right: 0;
        margin-right: .8rem;
    }
    /* Hamburger bars */
    #divHam span {
        display: block;
        width: 40px;
        height: 5px;
        margin: auto;
        border-radius: 25px;
        background-color: var(--accent);
        transition: all ease-in-out .2s;
    }

    #divHam.xsign .bar:nth-child(2){
        opacity: 0;
    }
    #divHam.xsign .bar:nth-child(1){
        transform: translateY(13px) translateX(1px) rotate(-45deg);
    }
    #divHam.xsign .bar:nth-child(3){
        transform: translateY(-13px) translateX(1px) rotate(45deg);
    }

    #mobileNav {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 1rem 0;
        width: 100vw;
        height: 100%;
        z-index: 8;
        overflow: hidden;
        margin-top: -1000px; /* menu removed from screen */
        transition: all ease-in-out .3s;
    }

    #mobileNav.active {
        margin-top: 0;
        background-color: var(--dark);
        transition: all ease-in-out .8s;
    }

    #mobileNav li {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        font-size: 1.5em;
        font-weight: 700;

    }

    #mobileNav li a {
        color: var(--accent);
        text-align: center;
        text-decoration: none;
    }

}

/* *********************** SOCIAL ******************************** */
/* nav */

.socialNav {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: transparent;
    top: 40vh;
    border-radius: 0 15px 15px 0;
    margin-left: -8.5rem;
    z-index: 20;
}

.socialUl {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.socialLi {
    display: block;
    padding: .5rem 1rem .5rem 1.5rem;
    border-right: 3px solid var(--accent);
    transition: all ease-in-out .4s;
}

.socialLi:first-child {
    border-top: 2px solid var(--accent);
    border-radius: 0 15px 0 0;
}

.socialLi:last-child {
    border-bottom: 2px solid var(--accent);
    border-radius: 0 0 15px 0;
}

.socialLi:hover {
    transform: translateX(8.5rem);

}

.socialA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    text-decoration: none;
    color: var(--navajo);
}

.socialSpan {
    font-size: 1.5rem;
    color: var(--accent);
}

.socialImg{
    width: 30px;
    height: 30px;
} 


/* **************************** ALL SECTIONS *************************** */

.sections {
    width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--dark);
}

.sections h1 {
    font-size: 3rem;
    cursor: pointer;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark);
    color: whitesmoke;
}

/* **************************** HOME *************************** */

#home h1 {
    font-size: 3rem;
    color: var(--navajo);
}

#home button {
    padding: .7rem 2rem;
    background-color: transparent;
    border: 3px solid var(--accent);
    border-radius: 5px;
    color: var(--navajo);
    z-index: 0;
    position: relative;
    transition: all ease-in-out .4s;
    font-weight: 900;
}

#home button:hover {
    background-color: var(--accent);
    color: #222222;
    font-weight: 900;
}

#home h1 a {
    color: var(--navajo);
    transition: all ease-in-out .4s;
}

#home h1 a:hover {
    color: var(--accent);
}

#home h1 span {
    position: relative; 
    text-decoration: none; 
    display: inline-block;
    transition: all ease-in-out 350ms;
}

#home h1 span:after {
    display:block;
    content: '';
    border-bottom: 3px solid var(--accent);  
    border-radius: 15px;
    transform: scaleX(0);  
    transition: all ease-in-out 350ms;
    transform-origin:100% 50%
}

#home h1 span:hover:after {
    transform: scaleX(1);
    transform-origin:50% 100%;
    color: var(--accent);
}

.name-dot {
    color: var(--accent);
}

/* **************************** ABOUT *************************** */
#about {
    justify-content: center;
}

#about article {
    cursor: pointer;
    width: 55%;
    text-align: center;
}

#about h1 {
    transition: all ease-in-out .4s;
}

#about h1:hover{
    color:var(--accent);
}

/**************** SERVICES *************************************/

#services {
    justify-content: center;
}

#services h1 {
    transition: all ease-in-out .4s;
}

#services h1:hover {
    color: var(--accent);

}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:70%;
    padding-top: 1rem;
    gap: 1.5rem;
    margin: 0 auto;

}

.card {
    border: 2px solid #ccc;
    padding: 1.5rem;
    text-align: center;
    transition: all ease-in-out .4s;
}

.card:hover {
    scale: 1.05;
}

.card.basic h1  {
    color: #A97A45;
}
.card.standard h1  {
    color: #A9AAAE;
}
.card.premium h1  {
    color: #D3AF37;
}

/********************************** WORK ***************************/

#work {
    justify-content: center;
}

#work h1 {
    padding-bottom: 0;
    transition: all ease-in-out .4s;
}

#work h1:hover {
    color: var(--accent);
}

/* Carousel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 100vw;
    height: 60vh;
}

.carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.mySlides {
    display: none;
}

.mySlides.active {
    display: block;
}

.prev, .next {
    position: absolute;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--navajo);
    border: none;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.prev:hover, .next:hover {
    color: var(--accent);
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: .5rem 1rem;
    bottom: 1rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.dot {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(255,255, 255, 0.4);
    cursor: pointer;

}

.dot.active {
    background-color:  var(--accent);
}

/******************* CONTACT ******************************/

#contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    transition: all ease-in-out .4s;
}

#contact h1:hover {
    color: var(--accent);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 50vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    color: var(--navajo);
    
}

#email:focus, #subject:focus, #message:focus {
    color: var(--navajo);
    background-color: rgba(255,255, 255, 0.3);
}

#email:focus-visible, #subject:focus-visible, #message:focus-visible {
    outline: 2px solid #39ff14;
}

.form-group label {
    display: inline-block;
    font-weight: bold;
    padding: 2rem 0 .5rem 0;
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 1rem;
    margin: 0;
    border: transparent; 
    border-radius: 5px;
    background-color: #9a8c98;
}



textarea {
    resize: none;
}

.submitDiv {
    /* align-self: flex-end; */
    margin: 1rem 0 0 auto;

}

.submitBtn {
    font-weight: 900;
    width: max-content;
    padding: .7rem 2rem;
    background-color: transparent;
    color: var(--navajo);
    border: 3px solid var(--accent);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.submitBtn:focus {
    background-color: #39ff14;
}

.submitBtn:hover { 
    background-color: var(--accent);
    color: #222222;
}





